div.col-sm-10.form-group(ng-show='addFlag')
 h3 Add new Request
 form(name="addReqForm", novalidate)
  div.col-sm-2
   span.label.label-default Title
  div.col-sm-9
   input.form-control(type='text', ng-model='title', name='title', required)
   span(ng-show="addReqForm.title.$dirty && addReqForm.title.$invalid")
    span(ng-show="addReqForm.title.$invalid") Please provide a Title
  div.col-sm-2
   span.label.label-default Description
  div.col-sm-9
   textarea.form-control(cols=50, rows=5, ng-model='desc', name='desc', required)
   span(ng-show="addReqForm.desc.$dirty && addReqForm.desc.$invalid")
    span(ng-show="addReqForm.desc.$invalid") Please provide a valid description
  div.col-sm-2
   span.label.label-default Image
  div.col-sm-9
   input.btn.btn-default(type='file', ng-model='image', file-model='image', name='image', onchange="angular.element(this).scope().uploadImage(this)")
   span(ng-show="addReqForm.image.$dirty && addReqForm.image.$invalid")
    span(ng-show="addReqForm.image.$invalid") Please provide a valid image
   div.row
    img.img-thumbnail(ng-repeat='im in images', ng-src="{{loadedImage[im]}}", width='304', height='236')
  div.col-sm-2
   span.label.label-default Name
  div.col-sm-9
   input.form-control(type='text', size=50, ng-model='name', name='name', required)
   span(ng-show="addReqForm.name.$dirty && addReqForm.name.$invalid")
    span(ng-show="addReqForm.name.$invalid") Name is required
  div.col-sm-2
   span.label.label-default Email
  div.col-sm-9
   input.form-control(type='email', size=50, ng-model='email', name='email', required)
   span(ng-show="addReqForm.email.$dirty && addReqForm.email.$invalid")
    span.text-error(ng-show="addReqForm.email.$invalid") Please provide valid email
  div.col-sm-2
   span.label.label-default Contact No.
  div.col-sm-9
   input.form-control(type='tel', size=50, ng-model='contact', name='contact', required)
   span(ng-show="addReqForm.contact.$dirty && addReqForm.contact.$invalid")
    span.text-error(ng-show="addReqForm.contact.$invalid") Please provide valid email  
  div.col-sm-2
   span.label.label-default Place
  div.col-sm-9
   input.form-control.map-places#search-map-auto-req(type='text', size=50, ng-model='place', name='place', required)
   span(ng-show="addReqForm.place.$dirty && addReqForm.place.$invalid")
    span.text-error(ng-show="addReqForm.place.$invalid") Location is required
  div.col-sm-2
  div.col-sm-5.btn-box
   input.form-control.btn.btn-primary(type='button', value="submit", ng-click='submitRequest()' ng-disabled="addReqForm.contact.$dirty && addReqForm.contact.$invalid || addReqForm.title.$dirty && addReqForm.title.$invalid || addReqForm.desc.$dirty && addReqForm.desc.$invalid || addReqForm.name.$dirty && addReqForm.name.$invalid || addReqForm.email.$dirty && addReqForm.email.$invalid || addReqForm.place.$dirty && addReqForm.place.$invalid || addReqForm.place.$pristine || addReqForm.email.$pristine || addReqForm.name.$pristine || addReqForm.desc.$pristine || addReqForm.title.$pristine || addReqForm.contact.$pristine")